<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560547049830-rvfuc3hhaqe7dt2gngu06b2ei80gm1fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560547049830-rvfuc3hhaqe7dt2gngu06b2ei80gm1fj</string>
	<key>API_KEY</key>
	<string>AIzaSyDeFwuu-AFSB62vWxpkql-GiMNAn4sO7KA</string>
	<key>GCM_SENDER_ID</key>
	<string>560547049830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KinmuApp</string>
	<key>PROJECT_ID</key>
	<string>takademo-7a5f9</string>
	<key>STORAGE_BUCKET</key>
	<string>takademo-7a5f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560547049830:ios:780a76692a26ebd42118a7</string>
</dict>
</plist>